.col {
  display: flex;
}

.movies-section,
.favorites-section {
  flex: 1;
}

h3 {
  justify-content: center;
  display: flex;
}

.movie-item,
.favorite-item {
  flex-direction: row;
  flex-wrap: nowrap;
  display: flex;
  margin: 20px;
  position: relative;
}

.movie-image,
.favorite-image {
  height: 150px;
  width: 150px;
  margin-right: 10px;
  margin-top: 10px;
}

.movie-details,
.favorite-details {
  flex: 1;
}

.favorite-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

